#main{font-family:fantasy; background-color: aqua ;color: white; width: 160; margin: 10px; padding: 5px}
#honbun{font-family: serif; width: 310px; margin: 10px; padding: 5px;}
a{background: skyblue;color: white;font-family: fantasy; text-decoration: none;margin: 5px; padding: 5px;}